body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header {
    position: relative;
   
    height: 600px; /* Adjust the height based on your needs */
    color: white;
    text-align: center;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.banner {
    position: relative;
    width: 1320px; /* Set the width of the banner */
    height: 300px; /* Set half of the height for the banner */
    
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-content {
    position: absolute;
    top: 50%; /* Position the content in the middle of the banner */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content with a translate transformation */
    z-index: 1; /* Place the content above the image */
}

.banner-greeting {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.banner-title {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
section {
    text-align: center;
    padding: 50px; /* Adjust as needed for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount, .holiday-deals, .categories {
    margin-bottom: 20px; /* Adjust as needed for spacing between elements */
}

.discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.holiday-deals {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.category-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    background-image: url('../resources/New Year Photo.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.midnight-party {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 20px; /* Adjust as needed for spacing */
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px; /* Adjust as needed for spacing */
}

